.wrapper
  .banner
    .banner__container
      .banner__title BONUS #[span 100%] #[br] PÂNĂ LA #[span 1000 LEI]

      ul.banner__list
        li.banner__item
          .banner__item-top 100L
          .banner__item-bottom RISK-FREE BET
        li.banner__item
          img(src='img/plus.svg' alt='plus')
        li.banner__item
          .banner__item-top 100
          .banner__item-bottom ROTIRI GRATUITE



